# Coursera Capstone Week 3 Notebook

## Part 1

Install Packages if not installed

In [3]:
!pip install lxml # requirement for pandas read_html

Collecting lxml
  Using cached lxml-4.5.1-cp37-cp37m-win_amd64.whl (3.5 MB)
Installing collected packages: lxml
Successfully installed lxml-4.5.1

Importing Packages

In [11]:
import pandas as pd

**Get the Toronto Data table from Wikipedia**

In [12]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
toronto_page = pd.read_html(url, header=0)
toronto_df = toronto_page[0]
toronto_df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

As Seen, the Values from the page are imported


Now Renaming the Column

In [13]:
toronto_df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
toronto_df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Remove Not Assigned Boroughs and set Neighbourhood to Borough when Not Assigned

In [14]:
toronto_df = toronto_df[toronto_df['Borough'] != 'Not assigned'].reset_index(drop=True)
toronto_df.loc[toronto_df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = toronto_df['Borough']
toronto_df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

**Group all neighborhoods with same postal code

In [15]:
toronto_df_grouped = toronto_df.groupby('PostalCode', as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

Get the unique column data

In [16]:
postalcodes = toronto_df_grouped['PostalCode'].nunique()
boroughs = toronto_df_grouped['Borough'].nunique()
neighbourhoods= toronto_df_grouped['Neighborhood'].nunique()
print('Unique Postalcodes in Toronto Canada : ' + str(postalcodes))
print('Unique Boroughs in Toronto Canada : '+ str(boroughs))
print('Unique Neighbourhoods in Toronto Canada :' + str(neighbourhoods))

Unique Postalcodes in Toronto Canada : 103
Unique Boroughs in Toronto Canada : 10
Unique Neighbourhoods in Toronto Canada :99

**As we can see above, the number of unique PostalCode is equal to the number of rows, thus satisfying the question condition**


***Finally, Getting the shape of the Dataframe***

In [17]:
toronto_df_grouped.shape

(103, 3)

## Part 2

Importing Packages

In [2]:
import pandas as pd

#### **Read the CSV file to get Latitude and Longitude of Every Postal Code**

In [ ]:
csv_loc = './Geospatial_Coordinates.csv'
postalcodes = pd.read_csv(csv_loc)
postalcodes

Rename Postal Code to PostalCode for Merging with main toronto_df

In [ ]:
postalcodes.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
postalcodes

#### Merging the postal codes with the neighbourhood details

In [ ]:
toronto_neighborhoods = pd.merge(toronto_df_grouped, postalcodes, how='right', on = 'PostalCode')
toronto_neighborhoods

In [20]:
toronto_neighborhoods = pd.merge(toronto_df_grouped, postalcodes, how='right', on = 'PostalCode')
toronto_neighborhoods

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

Rename Postal Code to PostalCode for Merging with main toronto_df

In [21]:
postalcodes.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
postalcodes

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### Merging the postal codes with the neighbourhood details

In [22]:
toronto_neighborhoods = pd.merge(toronto_df_grouped, postalcodes, how='right', on = 'PostalCode')
toronto_neighborhoods

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054